<!-- Part of Razor -->
@using Newtonsoft.Json
@using SoNG.NHibernate.Models.Base;

@{
    // Id de la première orga (celle sélectionnée dans les filtres de gauche pour accéder à l'espace du site) :
    OrganizationBase firstOrga = SessionService.GetObject(SoNG.Infrastructure.Consts.CURRENT_ORGANIZATION_SKEY) as OrganizationBase;
    string firstOrgaId = firstOrga.Id.ToString();

    // appBaseURL :
	var appBaseURL = UriHelper.GetAppBaseUri();

    //Filtres obligatoires (données actives, non archivées) :
	var activeFilter = "Organization.IsArchive=False,Organization.Entitystate=Active,Theme.EntityState=Active,EntityState=Active";

    var organizations = VP.GetEntitiesData("Organization", "Id,Image.Id,Name,Collections,AddressLine1,PostCode,City,Country.Name,ERPTypes.TypeName,M2,UrlBentley,Lat,Long", "Level=4,EntityState=Active,IsArchive=false", "Organization=FilterQueryOrga,Theme=FilterQueryTheme,Collection=FilterQueryCollection").OrderBy(obj => obj.Name).ToList();;
    var contacts = VP.GetEntitiesData("OrganizationContact", "Organization.Id,Contact.FullName,Contact.Email,Contact.Job,Contact.Denomination,Contact.LastConnection,Contact.ConnectionsCounter,Contact.MobilePro,Contact.LandlinePro,Contact.AllPhone", "Organization.IsArchive=False,Organization.Entitystate=Active", "Organization=FilterQueryOrga");
    
    var equipments = VP.GetEntitiesData("Equipment", "Id,Organization.Id,Name,Theme,Reference,QRCode,Brand,EndOfGuarantee", activeFilter, "Organization=FilterQueryOrga");
    var equipmentsNC = VP.GetEntitiesData("ReserveOfVisit", "Organization.Id,Equipments.Id,VisitDate,IsLate,VisitObligation,UserProviderForReserve,Location,Redundant,ReserveText,CritLevel,ExpectedDate,StatusOfReserve", activeFilter, "Organization=FilterQueryOrga");
    var equipmentsActions = VP.GetEntitiesData("CActionEquipment", "Organization.Id,Equipment.Id,Name,BeginTime,EndTime,Responsible,Priority,Status", activeFilter, "Organization=FilterQueryOrga");
	var equipmentsVisit = VP.GetEntitiesData("Visit", "Organization.Id,Equipments.Id", activeFilter, "Organization=FilterQueryOrga");

    var documents = VP.GetEntitiesData("CQuestionaryDocument", "Organization.Id,Theme,Name,AuditorOwner,CreatedDate,ModifiedDate,Version,ExpirationDate,FormWorkflowStatus", activeFilter, "Organization=FilterQueryOrga");
    var attachedDocumentsResult = VP.GetEntitiesData("BaseDocument", "Organization.Id,Theme,EntityName,Description,CreatedUser,CreatedDate", activeFilter, "Organization=FilterQueryOrga");
    List<dynamic> attachedDocuments = new List<dynamic>(){}; 
    foreach (var x in attachedDocumentsResult) {
        var module = ResourceCultureHelper.GetResourceValue(SoCONF.Extension.Consts.ResourceTypeConfConfiguration, x.EntityName);
        attachedDocuments.Add(new { OrganizationId = x.OrganizationId, ThemeLocalizedName = x.ThemeLocalizedName, EntityName = module, Description = x.Description, CreatedUserFullName = x.CreatedUserFullName, CreatedDate = x.CreatedDate });
    };

    var lots = VP.GetEntitiesData("Lot", "Organization.Id", "Organization.IsArchive=False,Organization.Entitystate=Active,EntityState=Active", "Organization=FilterQueryOrga");
    var propertyTitles = VP.GetEntitiesData("PropertyTitle", "Id,Organization.Id,Reference,Surface,AcquisitionCost,AcquisitionDate", "Organization.IsArchive=False,Organization.Entitystate=Active,EntityState=Active", "Organization=FilterQueryOrga");
    var owners = VP.GetEntitiesData("Owner", "Id,Organizations.Id,Denomination", "Organizations.IsArchive=False,Organizations.Entitystate=Active,EntityState=Active", "Organization=FilterQueryOrga");
    var baux = VP.GetEntitiesData("Bail", "Id,Organization.Id,Reference,Owner.Id,PropertyTitle.Id,BailParent.Id,MaxCapacity,OccupiedWorkstationsNb,isOwner,LegalAxe,Floors,NetArea,Headcount,InstalledDesksNb", "Organization.IsArchive=False,Organization.Entitystate=Active,EntityState=Active", "Organization=FilterQueryOrga");
    var occupations = VP.GetEntitiesData("Occupation", "Id,Organization.Id,Surfaces.Id,Bail.Reference", "Organization.IsArchive=False,Organization.Entitystate=Active,EntityState=Active", "Organization=FilterQueryOrga");
    var surfaces = VP.GetEntitiesData("Surface", "Occupation.Year,Id,Name,AreaTypology.LocalizedName,Floor.LocalizedName,Type,Renter.Name,LegalAxe,NetArea,Headcount,MaxCapacity,OccupiedWorkstationsNb,InstalledDesksNb", "EntityState=Active", "Organization=FilterQueryOrga");

    var obligations = VP.GetEntitiesData("MasterVisit", "Organization.Id,CountVisit,Active,Theme,Obligation,UserProviderForVisit,UserProviderForReserve,Periodicity,Gravity", activeFilter, "Organization=FilterQueryOrga");
    var lateVisits = VP.GetEntitiesData("Visit", "Organization.Id,Theme,Location,ProvisionalDate,UserProviderForVisit", "IsLate=True," + activeFilter, "Organization=FilterQueryOrga");
    var nonCompliances = VP.GetEntitiesData("ReserveOfVisit", "Organization.Id,ReserveStatus,IsLate,CritLevel.LocalizedName,Theme,VisitObligation,VisitDate,Designation,UserProviderForReserve,Location,Redundant,ReserveText,ExpectedDate", activeFilter, "Organization=FilterQueryOrga");
    var actionsToDo = VP.GetEntitiesData("CActionReserve", "Organization.Id,Code,Reserve,Name,Description,BeginTime,EndTime,Status", "Status.Category=0," + activeFilter, "Organization=FilterQueryOrga");
}

@VP.StringToHtml(""+System.Web.Optimization.Scripts.Render("~/Content/js/Highcharts/code/highcharts.js"))
@VP.StringToHtml(""+System.Web.Optimization.Scripts.Render("~/Content/js/Highcharts/code/highcharts-more.js"))
@VP.StringToHtml(""+System.Web.Optimization.Scripts.Render("~/Content/js/Highcharts/code/modules/solid-gauge.js"))

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FIB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous" />
</head>

<body>
    <div id="containerFIB">

        <div id="referencesContainer">
            <div class="referencesText">Fiche d'identité du bâtiment > <span class="batimentName"></span></div>
        </div>

        <div id="filtersContainer">
            <div class="allFilters">
                <div class="inline">
                    <label>Site
                        <select name="site" id="siteSelector" class="selector">
                            <option value="default">-- Choisissez un site --</option>
                        </select>
                    </label>
                </div>

                <button id="searchFilterButton">Rechercher</button>
                <button id="rebootFilterButton">Réinitialiser</button>
            </div>
        </div>

        <div id="identityContainer">
            <img src="" id="identityPicture" alt="Image of site" />
            <div id="allIdentityInfos">
                <div id="identityIntroContainer">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div id="identityTitle" class="smallTitle"><span class="batimentName"></span></div>
                    </div>
                    <!-- Hidden for demo -->
                    <!-- <div id="identityExport" class="blackButton simpleText">Exporter en PDF</div> -->
                </div>
                <div id="identityInfosDetails">
                    <div id="identityType" class="simpleText"></div>
                    <div id="identityLocation" class="simpleText">
                        <div id="identityStreetLocation1"></div>
                        <div id="identityStreetLocation2"></div>
                        <div id="identityStreetLocation3"></div>
                        <div id="identityPostCodeLocation"></div><div id="identityCityLocation"></div>
                        <!-- <div id="identityRegionLocation">TEST Région</div> -->
                        <div id="identityCountryLocation"></div>
                    </div>
                    <div id="identityProperties">
                        <div id="identityLabel" class="simpleTitle"></div>
                        <div id="identityFloorsNumber" class="simpleTitle"><div id="identityFloorsNumberData"></div><div class="simpleText">Lots</div></div>
                        <div id="identityTotalSurface" class="simpleTitle"><div id="identityTotalSurfaceData"></div><div class="simpleText">surface totale</div></div>
                        <div id="identityLink3D" class="blackButton simpleText">Lien 3D</div>
                    </div>
                </div>
                <div id="identityGoogleMap"></div>
            </div>
        </div>

        <!-- CONTACT SECTION -->
        <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-user-alt simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="contactMainData">
                    <div class="mainDataTitle smallTitle">Contact</div>
                    <div class="mainDataSubTitle simpleText">0 contacts référencés</div>
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData simpleText" id="contactAllData">
                Contacts Référencés
                <div id="contactsReferenced">
                    
                </div>

                <br /><br /><br/>

                Intervenants
                <div id="contactsIntervenant">
                    <!-- ONE CONTACT -->
                    <div class="contactRow">
                        <div class="squareContact">
                            <div class="contactInitial">OA</div>
                        </div>
                        <div class="contactNameAndFunction">
                            <div class="contactName">Otis Ascenseurs</div>
                            <div class="contactFunction">Manager Technique</div>
                        </div>
                        <div class="contactPhonesNumbers">
                            <div><i class="fas fa-phone"></i>06 91 08 10 20</div>
                            <div><i class="fas fa-phone"></i>01 42 02 50 28</div>
                        </div>
                        <div class="contactEmail">
                            <i class="fas fa-envelope"></i>admin@otis.com
                        </div>
                        <div class="contactLog">
                            <div>Dernière connexion le 28/10/2019</div>
                            <div>5 connexions au total</div>
                        </div>
                    </div>

                    <hr class="contactSeparator"/>

                    <!-- ONE CONTACT -->
                    <div class="contactRow">
                        <div class="squareContact">
                            <div class="contactInitial">OA</div>
                        </div>
                        <div class="contactNameAndFunction">
                            <div class="contactName">Otis Ascenseurs</div>
                            <div class="contactFunction">Manager Technique</div>
                        </div>
                        <div class="contactPhonesNumbers">
                            <div><i class="fas fa-phone"></i>06 91 08 10 20</div>
                            <div><i class="fas fa-phone"></i>01 42 02 50 28</div>
                        </div>
                        <div class="contactEmail">
                            <i class="fas fa-envelope"></i>admin@otis.com
                        </div>
                        <div class="contactLog">
                            <div>Dernière connexion le 28/10/2019</div>
                            <div>5 connexions au total</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LEGAL SECTION -->
        <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-balance-scale simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="legalMainData">
                    <div class="mainDataTitle smallTitle">Juridique</div>
                    <div class="mainDataSubTitle simpleText">
                        <span id="legalNbPropTitles"></span> &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 
                        <span id="legalNbInternalLeases"></span> &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 
                        <span id="legalNbExternalLeases"></span> &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 
                        <span id="legalNbSubLeases"></span> 
                    </div>
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData" id="legalAllData">
                <div class="legalSubSectionTitle smallTitle">1 - Mapping</div>
                <div class="legalSubSection">
                    <div id="legalLegend">
                        <div class="simpleText">
                            <div id="legalLegendSquareIntern" class="legalLegendSquares"></div>Titres de propriété internes
                        </div>
                        <div class="simpleText">
                            <div id="legalLegendSquareExtern" class="legalLegendSquares"></div>Titres de propriété externes
                        </div>
                    </div>
                    <div id="legalHorTreeTitles">
                        <div class="simpleText">Titres de propriété</div>
                        <div class="simpleText">Baux</div>
                        <div class="simpleText">Sous-Baux</div>
                    </div>
                    <div id="legalHorTreeContainers"></div>
                </div>
                <div class="legalSubSectionTitle smallTitle">2 - Occupation</div>
                <div class="legalSubSection" id="legalGaugeSection">
                    <div class="legalGauge" id="legalOccupationGauge"></div>
                    <div class="legalGauge" id="legalRepartitionGauge"></div>
                    <div class="legalGaugeData simpleText">
                        <div class="simpleText"><div class="legalGaugeSquare" id="legalInternalSquare"></div>Interne -&nbsp<span id="legalInternalData"></span>%</div>
                        <div class="simpleText"><div class="legalGaugeSquare" id="legalExternalSquare"></div>Externe -&nbsp<span id="legalExternalData"></span>%</div>
                    </div>
                    <div class="legalGauge" id="legalSurfaceTypeGauge"></div>
                    <div id="legalSurfaceData" class="legalGaugeData simpleText"></div>
                </div>
                <select id="legalYearSelector" class="selector"></select>
                <div id="legalTableWrapper" class="tableWrapper">
                    <table id="legalTable" class="tableFib simpleText">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Locataire</th>
                                <th>Axe juridique</th>
                                <th>Type de surface</th>
                                <th>Etage</th>
                                <th>Surface hors PC</th>
                                <th>Effectif</th>
                                <th>Capacité max</th>
                                <th>NB postes<br/>occupés</th>
                                <th>NB postes<br/>installés</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div id="legalOccupationChartContainer">
                    <div id="legalOccupationChartTitle" class="smallTitle">Evolution de l’occupation par type de surface</div>
                    <div id="legalOccupationChart"></div>
                </div>
            </div>
        </div>

        <!-- COMPLIANCE SECTION -->
        <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-check simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="complianceMainData">
                    <div class="mainDataTitle smallTitle">Conformité</div>
                    <div class="mainDataSubTitle simpleText">
                        <span id="complianceFollowedObligations"></span> &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 
                        <span id="complianceLateVisits"></span> &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 
                        <span id="complianceNonCompliancesToDo"></span> 
                    </div>
                        <!--80 obligations suivies &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp
                        <span class="redTextColor">4 visites en retard</span> &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp <span
                            class="redTextColor">2 NC critiques à lever</span></div> -->
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData" id="complianceAllData">
                <main class="tab">
                    <input id="tabActiveObligations" type="radio" name="tabsCompliance" checked>
                    <label for="tabActiveObligations"><span id="nbActiveObligations">0</span>Obligations actives</label>
                        
                    <input id="tabLateVisits" type="radio" name="tabsCompliance">
                    <label for="tabLateVisits"><span id="nbLateVisits">0</span>Visites en retard</label>
                        
                    <input id="tabNonCompliancesToDo" type="radio" name="tabsCompliance">
                    <label for="tabNonCompliancesToDo"><span id="nbNonCompliancesToDo">0</span>Non-conformités à lever</label>
                        
                    <input id="tabNonCompliancesLate" type="radio" name="tabsCompliance">
                    <label for="tabNonCompliancesLate"><span id="nbNonCompliancesLate">0</span>Non-conformités en retard</label>

                    <input id="tabActionsToDo" type="radio" name="tabsCompliance">
                    <label for="tabActionsToDo"><span id="nbActionsToDo">0</span>Actions à faire</label>

                    <section id="contentActiveObligations">
                        <div class="tableWrapper">
                            <table id="tableActiveObligations" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Nom de l'obligation</th>
                                        <th>Responsable intervention</th>
                                        <th>Responsable NC</th>
                                        <th>Périodicité</th>
                                        <th>Risque</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="contentLateVisits">
                        <div class="tableWrapper">
                            <table id="tableLateVisits" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Visite</th>
                                        <th>Date</th>
                                        <th>Interlocuteur visite</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="contentNonCompliancesToDo">
                        <div class="tableWrapper">
                            <table id="tableNonCompliancesToDo" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Obligation liée</th>
                                        <th>Date de la visite</th>
                                        <th>Désignation</th>
                                        <th>Responsable NC</th>
                                        <th>Localisation</th>
                                        <th>Récurrent</th>
                                        <th>Détails de la  NC</th>
                                        <th>Criticité</th>
                                        <th>A lever avant le</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="contentNonCompliancesLate">
                        <div class="tableWrapper">
                            <table id="tableNonCompliancesLate" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Obligation liée</th>
                                        <th>Date de la visite</th>
                                        <th>Désignation</th>
                                        <th>Responsable NC</th>
                                        <th>Localisation</th>
                                        <th>Récurrent</th>
                                        <th>Détails de la  NC</th>
                                        <th>Criticité</th>
                                        <th>A lever avant le</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="contentActionsToDo">
                        <div class="tableWrapper">
                            <table id="tableActionsToDo" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Non-conformité</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                        <th>Date de début</th>
                                        <th>Echéance</th>
                                        <th>Statut</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </section>
                </main>
            </div>
        </div>

        <!-- AUDIT SECTION -->
        <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-chart-area simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="auditMainData">
                    <div class="mainDataTitle smallTitle">Audit</div>
                    <div class="mainDataSubTitle simpleText">3 audits en cours &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 6 NC à
                        lever</div>
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData" id="auditAllData">
            </div>
        </div>

        <!-- EQUIPMENTS SECTION -->
        <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-wrench simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="equipmentsMainData">
                    <div class="mainDataTitle smallTitle">Equipements</div>
                    <div class="mainDataSubTitle simpleText">0% Suivi</div>
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData" id="equipmentsAllData">
                <main class="tab">
                    <input id="tab1" type="radio" name="tabs1" checked>
                    <label for="tab1"><span id="nbEquipments">0</span>Equipements</label>
                        
                    <input id="tab2" type="radio" name="tabs1">
                    <label for="tab2"><span id="nbNcToLate">0</span>Non-conformités en retard</label>
                        
                    <input id="tab3" type="radio" name="tabs1">
                    <label for="tab3"><span id="nbActionToDo">0</span>Actions à faire</label>

                    <section id="content1">
                        <div id="equipmentFilters" class="simpleText">
                            <div class="inline verticalAlignMiddle">
                                <label>En fin de garantie dans
                                    <select name="garantie" id="garantieSelector" class="selector" onChange="filterDataEquipments()">
                                        <option value="0">--Choisissez une valeur--</option>
                                        <option value="1">1 mois</option>
                                        <option value="3">3 mois</option>
                                        <option value="6">6 mois</option>
                                        <option value="12">1 an</option>
                                    </select>
                                </label>
                            </div>
                            <div class="inline verticalAlignMiddle">
                                <label>Visites prévues dans
                                    <select name="visite" id="visiteSelector" class="selector" onChange="filterDataEquipments()">
                                        <option value="0">--Choisissez une valeur--</option>
                                        <option value="1">1 mois</option>
                                        <option value="3">3 mois</option>
                                        <option value="6">6 mois</option>
                                        <option value="12">1 an</option>
                                    </select>
                                </label>
                            </div>
                            <!-- <label class="equipmentSwitchFilter verticalAlignMiddle">
                                <label id="equipmentSliderLabel">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                Voir les non-conformités</label>
                            </label> -->
                        </div>
                        
                        <div class="tableWrapper">
                            <table id="equipmentFirstTable" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Identifiant</th>
                                        <th>QR Code</th>
                                        <th>Marque</th>
                                        <th>Fin de garantie</th>
                                        <th>NC à lever</th>
                                        <th>Prochaine visite</th>
                                        <th>Actions en cours</th>
                                    </tr>
                                </thead>
                                <tbody>
 
                                </tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="content2">
                        <!-- TODO -->
                        <div class="tableWrapper">
                            <table id="equipmentSecondTable" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Equipement</th>
                                        <th>Obligation</th>
                                        <th>Responsable NC</th>
                                        <th>Localisation</th>
                                        <th>Réccurent</th>
                                        <th>Détails de la NC</th>
                                        <th>Criticité</th>
                                        <th>A lever avant</th>
                                        <th>Statut</th>
                                    </tr>
                                </thead>
                                <tbody>
 
                                </tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="content3">
                        <div class="tableWrapper">
                            <table id="equipmentThirdTable" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Equipement</th>
                                        <th>Nom</th>
                                        <th>Date de début</th>
                                        <th>Echéance</th>
                                        <th>Responsable</th>
                                        <th>Priorité</th>
                                        <th>Statut</th>
                                    </tr>
                                </thead>
                                <tbody>
 
                                </tbody>
                            </table>
                        </div>
                    </section>                     
                </main>
            </div>
        </div>

        <!-- DOCUMENTS SECTION-->
        <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-file-alt simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="documentsMainData">
                    <div class="mainDataTitle smallTitle">Documents</div>
                </div>
                <i class="fas fa-plus iconTitle openCloseIcon"></i>
            </div>
            <div class="allData" id="documentsAllData">
                <main class="tab">
                    <input id="tab4" type="radio" name="tabs2" checked>
                    <label for="tab4"><span id="nbDocuments">0</span>Documents obligatoires disponibles</label>
                        
                    <input id="tab5" type="radio" name="tabs2">
                    <label for="tab5"><span id="nbToRenew">0</span>Documents à renouveler</label>
                        
                    <input id="tab6" type="radio" name="tabs2">
                    <label for="tab6"><span id="nbToValidate">0</span>Documents à valider</label>

                    <section id="content4">  
                        <div class="tableWrapper">
                            <table id="documentFirstTable" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Libellé</th>
                                        <th>Responsable</th>
                                        <th>Dernière mise à jour</th>
                                        <th>Version</th>
                                    </tr>
                                </thead>
                                <tbody>
 
                                </tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="content5">
                        <!-- TODO -->
                        <div class="tableWrapper">
                            <table id="documentSecondTable" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Libellé</th>
                                        <th>Responsable</th>
                                        <th>Dernière mise à jour</th>
                                        <th>Version</th>
                                    </tr>
                                </thead>
                                <tbody>
 
                                </tbody>
                            </table>
                        </div>
                    </section>
                        
                    <section id="content6">
                        <div class="tableWrapper">
                            <table id="documentThirdTable" class="tableFib simpleText">
                                <thead>
                                    <tr>
                                        <th>Thème</th>
                                        <th>Libellé</th>
                                        <th>Responsable</th>
                                        <th>Dernière mise à jour</th>
                                        <th>Version</th>
                                    </tr>
                                </thead>
                                <tbody>
 
                                </tbody>
                            </table>
                        </div>
                    </section>                     
                </main>

                <div id="equipmentFilters" class="simpleText">
                    <div class="inline verticalAlignMiddle">
                        <label>Module
                            <select name="module" id="moduleSelector" class="selector" onChange="filterDataAttachedDocuments()">
                                <option value="all">Tous</option>
                            </select>
                        </label>
                    </div>
                    <div class="inline verticalAlignMiddle">
                        <label>Créé depuis
                            <select name="createdSince" id="createdSinceSelector" class="selector" onChange="filterDataAttachedDocuments()">
                                <option value="0">--Choisissez une valeur--</option>
                                <option value="1">1 mois</option>
                                <option value="3">3 mois</option>
                                <option value="6">6 mois</option>
                                <option value="12">1 an</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="tableWrapper">
                    <table id="attachedDocumentsTable" class="tableFib simpleText">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Créé par</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Hidden for demo -->
        <!-- DATA COLLECTION SECTION -->
        <!-- <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-sd-card simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="dataCollectionMainData">
                    <div class="mainDataTitle smallTitle">Collecte de données</div>
                    <div class="mainDataSubTitle simpleText">4 campagnes en cours &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp
                        <span class="redTextColor">23% de complétion</span></div>
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData" id="dataCollectionAllData">
            </div>
        </div> -->

        <!-- Hidden for demo -->
        <!-- INCIDENTS SECTION -->
        <!-- <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-exclamation-triangle simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="incidentsMainData">
                    <div class="mainDataTitle smallTitle">Incidents</div>
                    <div class="mainDataSubTitle simpleText">23 incidents &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 11
                        presque-accidents &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 4 accidents</div>
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData" id="incidentsAllData">
            </div>
        </div> -->

        <!-- Hidden for demo -->
        <!-- SCHEMA DIRECTORY SECTION -->
        <!-- <div class="sectionContainer">
            <div class="primaryInfos">
                <i class="fas fa-rocket simpleTitle verticalAlignMiddle"></i>
                <div class="mainData" id="schemaDirectoryMainData">
                    <div class="mainDataTitle smallTitle">Schéma directeur</div>
                    <div class="mainDataSubTitle simpleText">4 plans quinquénnaux &nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp 12
                        actions en retard</div>
                </div>
                <i class="fas fa-plus openCloseIcon"></i>
            </div>
            <div class="allData" id="schemaDirectoryAllData">
            </div>
        </div> -->

    </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">
</script>
<!-- <script src="./horizontalTreePlugin/dist/jquery.hortree.min.js"></script> -->
<!-- <script src="./horizontalTreePlugin/demo/jquery.line.js"></script> -->

<script>

let firstOrgaId = "@firstOrgaId";
let appBaseURL = "@appBaseURL";

let jsonAllOrganizations = JSON.parse(('@JsonConvert.SerializeObject(organizations)').replace(/&quot;/g, '"'));
let jsonAllContacts = JSON.parse(('@JsonConvert.SerializeObject(contacts)').replace(/&quot;/g, '"'));

let jsonAllEquipments = JSON.parse(('@JsonConvert.SerializeObject(equipments)').replace(/&quot;/g, '"'));
let jsonAllEquipmentsNC = JSON.parse(('@JsonConvert.SerializeObject(equipmentsNC)').replace(/&quot;/g, '"'));
let jsonAllEquipmentsActions = JSON.parse(('@JsonConvert.SerializeObject(equipmentsActions)').replace(/&quot;/g, '"'));
let jsonAllEquipmentsVisit = JSON.parse(('@JsonConvert.SerializeObject(equipmentsVisit)').replace(/&quot;/g, '"'));

let jsonAllDocuments = JSON.parse(('@JsonConvert.SerializeObject(documents)').replace(/&quot;/g, '"'));
let jsonAllAttachedDocuments = JSON.parse(('@JsonConvert.SerializeObject(attachedDocuments)').replace(/&quot;/g, '"'));

let jsonAllLots = JSON.parse(('@JsonConvert.SerializeObject(lots)').replace(/&quot;/g, '"'));
let jsonAllPropertyTitles = JSON.parse(('@JsonConvert.SerializeObject(propertyTitles)').replace(/&quot;/g, '"'));
let jsonAllOwners = JSON.parse(('@JsonConvert.SerializeObject(owners)').replace(/&quot;/g, '"'));
let jsonAllBaux = JSON.parse(('@JsonConvert.SerializeObject(baux)').replace(/&quot;/g, '"'));
let jsonAllOccupations = JSON.parse(('@JsonConvert.SerializeObject(occupations)').replace(/&quot;/g, '"'));
let jsonAllSurfaces = JSON.parse(('@JsonConvert.SerializeObject(surfaces)').replace(/&quot;/g, '"'));

let jsonObligations = JSON.parse(('@JsonConvert.SerializeObject(obligations)').replace(/&quot;/g, '"'));
let jsonLateVisits = JSON.parse(('@JsonConvert.SerializeObject(lateVisits)').replace(/&quot;/g, '"'));
let jsonNonCompliances = JSON.parse(('@JsonConvert.SerializeObject(nonCompliances)').replace(/&quot;/g, '"'));
let jsonActionsToDo = JSON.parse(('@JsonConvert.SerializeObject(actionsToDo)').replace(/&quot;/g, '"'));

function initFIBGoogleMap() {
  // La map est crée grâce à l'API de Google Maps :
  var identityGoogleMap = new google.maps.Map(document.getElementById('identityGoogleMap'), {
    center: new google.maps.LatLng(40, 0),
    zoom: 2,
    disableDefaultUI: true,
  	styles: [
  		{
			"elementType": "geometry",
  			"stylers": [
          		{ "visibility": "simplified" },
  		  		{ "hue": "#00aec7" },
          		{ "saturation": -50 }
        	]
      	}
    ]
  });

  return identityGoogleMap;
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKL92_ats3EIcnsjjSjxp5UgZseR6lnIY&libraries=places&sensor=false&callback=initFIBGoogleMap"></script>